<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fsite%2F892f85c3-80d6-458a-b9d4-e650578d0b6e_Thumb.png&w=3840&q=60" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fsite%2Fbe19dba3-00d4-42c3-bf73-5e42b8260a63_Thumb.png&w=3840&q=60" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fsite%2F2e86b1ec-05a2-4a30-879c-44a3bb7b70ff_Thumb.png&w=3840&q=60" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon next" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>