<div class="top_header">
    <div class="center_for_top">
        <div class="left_top">
            <img src="https://zoommer.ge/icons/header-phone.svg" alt="">
            <h5>*7007 / +995 (32) 2 60 30 60</h5>
        </div>
        <div class="right_top">
            <nav>
                <ul>
                    <li>სავაჭრო პოლიტიკა</li>
                    <li>განვადება</li>
                    <li>კარიერა</li>
                    <li>Trade in</li>
                    <li>ფილიალები</li>
                    <li>ყველა აქცია</li>
                </ul>
            </nav>
        </div>
    </div>
</div>