<header>
    <div class="center_for_bottom">
        <div class="left_bottom">
            <img src="https://zoommer.ge/icons/main-logo.svg" alt="">
        </div>
        <div class="right_bottom">
            
            <div class="navigation_main_container">
                <div class="center_navigation_main_container">
                    <img src="https://zoommer.ge/icons/dots.svg" alt="">
                    <h6>ნავიგაცია</h6>
                </div>
            </div>

            <app-search-input></app-search-input>

            <div class="basket_main_container">
                <div class="center_basket_main_container">
                    <img src="https://zoommer.ge/icons/header-cart.svg" alt="">
                    <h6>კალათა</h6>
                </div>
            </div>
            <div class="basket_main_container">
                <div class="center_basket_main_container">
                    <img src="https://zoommer.ge/icons/user-icon.svg" alt="">
                    <h6>შესვლა</h6>
                </div>
            </div>
        </div>
    </div>
</header>